<h1>Users</h1>
<td><%= link_to 'Create User', new_users_admin_path %>
<table>
  <tr>
    <th>User</th>
    <th>Roles</th>
    <th colspan="2"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.roles.join(', ') %></td>
      <td><%= link_to 'Show', users_admin_path(user) %></td>
      <td><%= link_to 'Edit', edit_users_admin_path(user) %></td>
      <td><%= link_to 'Destroy', users_admin_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>